* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
}
.wrapper__up__ping {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.up__ping {
  font-weight: 700;
  font-size: 20px;
}

.up__ping__dot {
  width: 4px;
  height: 4px;
  background-color: #497bf1;
}
.wrapper__header {
  margin-top: 30px;
  text-align: center;
}
.header__text {
  font-weight: 300;
  color: #979797;
}
.header__test__strong {
  color: black;
}
.header__paragraph {
  margin-top: 15px;
  color: #4d5050;
  display: block;
}
.wrapper__inp__btn {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.inp {
  width: 100%;
  height: 45px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  font-weight: 300;
  font-size: medium;
  border: 1px solid #e0e5f7;
  outline: #e0e5f7;
}
.inp__error {
  border-color: red;
}
.inp__active {
  border-color: green;
}

::-webkit-input-placeholder {
  color: #e0e5f7;
}
.span__error {
  font-weight: 300;
  font-style: italic;
  display: none;
  margin-top: 12px;
  color: hsl(354, 100%, 66%);
}
.span__error__active {
  display: block;
}
.wrapper__btn {
  padding-left: 14px;
}

.btn {
  width: 140px;
  height: 45px;
  font-weight: 700;
  border-radius: 30px;
  border: none;
  background-color: #4d7bf3;
  color: white;
  cursor: pointer;
  box-shadow: 1px 10px 8px #e0e7fb;
}
.btn:hover {
  background-color: #7195f5;
}

.wrapper__img {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
img {
  width: 40%;
  height: 40%;
}
.wrapper__footer {
  text-align: center;
}
.wrapper__footer__btn {
  text-align: center;
  margin: 30px;
}

.btn__footer__all {
  width: 38px;
  height: 38px;
  margin: 7px;
  border: 2px solid #edf0f5;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
}
.wrapper__footer__text {
  margin-top: 30px;
  padding-bottom: 30px;
}
.footer__text {
  color: #a9a9a9;
  font-size: small;
}

@media (max-width: 1005px) {
  img {
    width: 50%;
    width: 50%;
  }
}

@media (max-width: 754px) {
  .up__ping {
    font-size: 18px;
  }
  .header__text {
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .header__paragraph {
    font-size: 13px;
  }
  .wrapper__inp__btn {
    display: block;
    text-align: center;
  }
  .inp {
    width: 50%;
  }
  .wrapper__btn {
    margin-top: 16px;
    padding-left: 0;
  }
  .btn {
    width: 50%;
  }
  .wrapper__img {
    margin-top: 36px;
  }
  img {
    width: 60%;
  }
}

@media (max-width: 403px) {
  .inp {
    width: 70%;
  }
  .btn {
    width: 70%;
  }
  img {
    width: 80%;
  }
  .footer__text {
    font-weight: 300;
  }
}
